@using CodeFirst.Services.Specification
@using Microsoft.Identity.Client
@model IEnumerable<CodeFirst.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <table class="table redTable">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <h1>
                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                        </h1>
                        @await Component.InvokeAsync("Libros", new AutorSpecification(item.Id))
                        @await Component.InvokeAsync("Libros",
                                 new AndLibroSpecificacion(new AutorSpecification(item.Id),
                                 new NumPaginasSpecificator()))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Component.InvokeAsync("Libros", new NumPaginasSpecificator())
</div>
