@model System.Collections.Generic.IEnumerable<CodeFirst.Models.Libro>

<table class="table cinereousTable">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h2>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </h2>
                </td>
                <td>
                    <h2>
                        @Html.DisplayFor(modelItem => item.NumPaginas)
                    </h2>
                </td>
            </tr>
        }
    </tbody>
</table>