@using AdventureWorks.Services.Especificaciones.Simples
@model IEnumerable<AdventureWorks.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@await Component.InvokeAsync("Products",new NameTerminaSpecification()
    {Letras = ["g"]})
<hr/>
@await Component.InvokeAsync("Products", new NameComienzaSpecification()
{Letras = ["a"]})


